[Unit]
Description=phishing-url-detector-app
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/application/src/
Environment="PATH=/home/ubuntu/application/venv/bin"
EnvironmentFile=/home/ubuntu/.env
ExecStart=/home/ubuntu/application/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target